* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Ubuntu, sans-serif;
  background-color: #f7f5eb;
}
a {
  text-decoration: none;
  color: #2e2e2e;
}
.button {
  font-size: 16px;
  padding: 12px 32px;
  border-radius: 190px;
  cursor: pointer;
  border: solid 2px #2e2e2e;
  transform: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}
.header {
  position: relative;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  width: 100%;
  position: absolute;
}
.menu {
  display: flex;
  gap: 22px;
  font-size: 18px;
  list-style-type: none;
  color: #2e2e2e;
  cursor: pointer;
}

.sign-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.active {
  color: #659bb3;
}

.border-button {
  color: #2e2e2e;
  background-color: transparent;
}

.filled-button {
  background-color: #2e2e2e;
  color: white;
}

.hero-section {
  height: 812px;
  background-image: url("../img/hero-section.png");
  background-position: center;
  background-size: cover;
}
.profile-image {
  width: 50px;
}

.hero-section-content {
  position: relative;
  top: 20%;
  left: 15%;
  width: 45%;
}

.small-title {
  display: flex;
  font-size: 18px;
  color: #a0c3d2;
  gap: 5px;
  margin-left: 20px;
}
.small-title h4 {
  font-weight: 500;
}

.hero-title {
  text-transform: uppercase;
  font-size: 37px;
  color: #062d3e;
}
.hero-title span {
  color: #ce8989;
}
.about-us {
  background-image: url("../img/about-bg.png");
  background-size: cover;
  height: 516px;
}
.promo-button {
  display: inline-block;
  margin-top: 20px;
  border: none;
  padding: 16px 32px;
  background-color: #ce8989;
  color: white;
  font-size: 20x;
  text-transform: uppercase;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 36px;

  position: relative;
  left: 40%;
  padding: 60px 0;
}
.home-title {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 500;
}

.about-title {
  color: #f7f5eb;
}
.about-container p {
  color: white;
  font-size: 19px;
  line-height: 3;
  width: 600px;
  text-align: justify;
  word-wrap: break-word;
}

.service_secttion {
  background-image: url("../img/service_bg.png");
  background-size: cover;
  height: 700px;
  margin-top: 50px;
  padding: 80px 140px;
}

.service_title {
  color: #ce8989;
}
.box {
  height: 500px;
  padding: 50px 30px;
  color: #2f5768;
}

.sitter-box {
  background-image: url("../img/pets_sitter.png");
  background-size: cover;
  width: 490px;
}

.icon {
  width: 90px;
  height: 90px;
}

.box_title {
  padding: 10px 0;
}

.box {
  line-height: 2;
}
.explore-button {
  display: inline-block;
  background-color: #2f5768;
  border: none;
  margin-top: 20px;
  color: white;
}
.walking-box {
  background-image: url("../img/dog-walking.png");
  background-size: cover;
  width: 525px;
}

.services-boxes {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 30px;
}

.soon-button {
  display: inline-block;
  margin-top: 20px;
  background-color: transparent;
  font-size: 16px;
  padding: 12px 32px;
  border-radius: 190px;
  cursor: pointer;
  border: solid 2px #2f5768;
  color: #2f5768;
  cursor: auto;
}

.review-section {
  background-image: url("../img/review_background.png");
  background-size: cover;
  height: 910px;
}
.review-section {
  margin-top: 200px;
}
.review-title {
  text-align: center;
  color: #ce8989;
}
.review-container {
  display: flex;
  margin: 0 200px;
  align-items: center;
}
.reviewer-image {
  width: 600px;
}

.customer-review {
  color: #062d3e;
}

h4 {
  font-size: 36px;
  margin-bottom: 20px;
}
.review-body {
  background-image: url("../img/zigzag-bg.png");
  background-position: cover;
  height: 330px;
  width: 475px;
  padding: 27px;
  background-repeat: no-repeat;
}
.review-body p {
  font-size: 20px;
  line-height: 2;
  font-weight: 400;
}

footer {
  background-image: url("../img/footer-background.png");
  background-position: cover;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px 0 100px;
}

.footer-logo {
  width: 220px;
}
.menu-footer .menu {
  padding: 0 200px;
}
.menu-footer .menu li a {
  color: white;
}
.bg-pink {
  background-color: #ce8989;
}
.bg-pink:hover {
  background-color: #855050;
}
.bg-gray {
  background-color: #4f4f4f;
}
.bg-gray:hover {
  background-color: #272727;
}
